filterpy==1.4.5
gTTS==2.5.4
numpy==2.2.6
opencv_python==4.12.0.88
PyYAML==6.0.2
PyYAML==6.0.2
scipy==1.16.1
singlestoredb==1.15.1
ultralytics==8.3.176

opencv-python==4.12.0.88
openvino==2025.2.0
openvino-telemetry==2025.2.0

